doctype html
html
    head
        meta(charset='UTF-8') 
        title Title
        link(href='./css/style.css' rel='stylesheet') 
    body
        h1 Click on the cat
        article
            header
                h2 Name
                figure
                    img(src='./img/cat.jpg' class='big small trans') 
                p Age: 7
                p Weight 5kg

        script(src='./js/main.js')


